@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box; }

* {
  font-family: "Inconsolata", monospace; }

.title1 {
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: #FF0000;
  margin-bottom: 10px;
  transition: all 0.5s linear; }
  .title1:hover {
    color: #000000;
    transition: all 0.5s linear; }

.title2 {
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: #DAA520;
  margin-bottom: 5px;
  transition: all 0.5s linear; }
  .title2:hover {
    color: #FFFFFF;
    transition: all 0.5s linear; }

.title3 {
  font-size: 30px;
  background-color: #FFFFFF;
  color: #DAA520;
  text-align: left;
  transition: all 0.5s linear; }
  .title3:hover {
    color: #FF0000;
    transition: all 0.5s linear; }

.link {
  width: fit-content;
  transition: all 0.5s linear; }
  .link:hover {
    width: fit-content;
    transform: scale(9.5);
    transform: translate(5px);
    color: #FFFFFF;
    transition: all 0.5s linear;
    border-bottom: 2px solid #FF0000; }

button {
  border-radius: 12px;
  background-color: #DAA520;
  margin: 5px;
  padding: 12px 25px;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s linear; }
  button:hover {
    transform: translate(5px);
    background-color: #8B0000;
    transition: all 0.5s linear; }
  button .carousel-control-prev {
    background-color: transparent; }
  button .carousel-control-next {
    background-color: transparent; }
  button .carousel-indicators {
    margin-bottom: 0; }

.buttonlink {
  border-radius: 12px;
  background-color: #000000;
  margin: 5px;
  padding: 12px 25px;
  color: #008000;
  cursor: pointer;
  transition: all 0.5s linear; }
  .buttonlink:hover {
    transform: translate(5px);
    background-color: #008000;
    color: #000000;
    transition: all 0.5s linear; }
  .buttonlink .carousel-indicators {
    margin-bottom: 0; }

@keyframes pulse {
  0% {
    background-color: rgba(7, 4, 81, 0.741); }
  100% {
    background-color: rgba(127, 17, 11, 0.741); } }

html {
  height: 100%; }

body {
  height: 100%;
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  padding: 0%; }

main {
  width: 100%;
  align-items: center;
  display: block;
  flex-direction: column; }

.container-fluid-carousel {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }
  .container-fluid-carousel li {
    list-style: none; }
  .container-fluid-carousel .carousel-control-prev {
    background-color: transparent; }
  .container-fluid-carousel .carousel-control-next {
    background-color: transparent; }
  .container-fluid-carousel .carousel-indicators {
    margin-bottom: 0; }

header {
  background-color: #DAA520;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header__nav {
  margin: 2px;
  border: 2px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
  background-image: radial-gradient(circle, #C0C0C0, #DAA520, #C0C0C0);
  padding: 0.5rem 1rem; }

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: large; }
  .navbar-brand img {
    width: 150px;
    transition: all 0.5s linear; }
    .navbar-brand img:hover {
      transform: rotate(180deg);
      transition: all 0.5s linear; }

.nav-link {
  width: fit-content;
  transition: all 0.5s linear; }
  .nav-link:hover {
    width: fit-content;
    transform: scale(1.2, 1.2);
    transform: translateX(5px);
    color: #FFFFFF;
    transition: all 0.5s linear;
    border-bottom: 2px solid #FF0000; }

.footer {
  background-color: orangered;
  font-size: 25px;
  width: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer img {
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s linear; }
    .footer img:hover {
      transform: translateY(-10px);
      transition: all 0.5s linear; }

@media screen and (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 20px; } }

@media screen and (max-width: 1400px) {
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 25px; } }

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
  .container-fluid .container-fluid-carousel p, .container-lg .container-fluid-carousel p, .container-md .container-fluid-carousel p, .container-sm .container-fluid-carousel p, .container-xl .container-fluid-carousel p, .col .container-fluid-carousel p {
    color: #DAA520; }

.box__container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  border: 5px solid #808080;
  background-color: rgba(0, 0, 0, 0.849);
  padding: 1.875em;
  margin: 2.5em;
  box-sizing: border-box;
  overflow: hidden; }
  .box__container .img-mirror {
    transform: scaleX(-1); }

@media (max-width: 900px) {
  .box__container {
    width: 100%;
    margin: 0;
    padding-left: 3px;
    padding: 15px;
    border-width: 3px; } }

#ficha-contacto {
  width: auto;
  text-align: center;
  justify-content: space-around;
  color: #DAA520;
  border: 5px solid #808080;
  padding: 1.875em;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.79), rgba(128, 128, 128, 0.79), rgba(0, 0, 0, 0.79));
  transition: all 0.5s linear;
  box-sizing: border-box;
  overflow: hidden; }

.box__qr {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center; }
  .box__qr img {
    text-align: center;
    width: 350px; }

.ubicacion__container {
  background-color: #FFFFFF;
  width: 100%; }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px; }

.paddingLR {
  padding-left: 10px;
  padding-right: 10px; }

.box__top {
  color: #FFFFFF;
  font-size: 20px;
  display: inline-block;
  width: 100%; }

.box__img {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center; }
  .box__img img {
    text-align: center;
    width: 350px;
    transition: all 0.5s linear; }
    .box__img img:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: all 0.5s linear; }

.box__containershiny {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: stretch;
  border: 5px solid #808080;
  background-color: rgba(0, 0, 0, 0.849);
  padding: 1.875em;
  box-sizing: border-box;
  animation: pulse 5s infinite;
  overflow: hidden; }

.par__container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  border: 5px solid #808080;
  padding: 1.875em;
  margin: 0.625em auto; }

@media (max-width: 900px) {
  .par__container {
    width: 100%;
    margin: 0;
    padding: 15px;
    border-width: 3px; } }
