/*Estilo general*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

/*Estilo encabezado*/
header{
    background-color: goldenrod;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header__nav{
    margin: 2px;
    padding: 2px;
    border: 2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size:xx-large;
    background-image: radial-gradient(circle, silver, goldenrod, silver);
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size:initial;
}

.navbar-brand img{
    width: 150px;
    transition: all 0.5s linear;
}

.navbar-brand img:hover{
    transform: rotate(180deg);
    transition: all 0.5s linear;
}



.header-container{
    display: flex;
    justify-content: center;
}

.nav-link{
    width: fit-content;
    transition: all 0.5s linear;
}

.nav-link:hover{
    width: fit-content;
    transform: scale(1.2, 1.2);
    transform: translateX(5px);
    color: gold;
    transition: all 0.5s linear;
    border-bottom: 2px solid red;
}

/*Fondo del sitio*/
body{
    background-image: url(../images/fondo.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin:0%;
    padding:0%;
}

/*Estilo main*/
main{
    width: 100%;
    align-items: center;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

/*Estilo para parrafos*/
.par__container{
    width: fit-content;
    text-align: center;
    background-color: white;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    border-left: 5px solid grey;
    border-right: 5px solid grey;;
    display: block;
    padding: 30px;
    margin: 10px;
}


/*Estilos de titulo*/
.title1{
    font-size:40px;
    text-align: center;
    color:red;
    margin-bottom:10px;
    transition: all 0.5s linear;
}
.title1:hover{
    color: black;
    transition: all 0.5s linear;
}

.title2{
    font-size:30px;
    color:goldenrod;
    margin-bottom:5px;
    transition: all 0.5s linear;
}
.title2:hover{
    color: white;
    transition: all 0.5s linear;
}

.title3{
    font-size:30px;
    background-color: white;
    color:goldenrod;
    text-align:left;
    transition: all 0.5s linear;
}
.title3:hover{
    color: red;
    transition: all 0.5s linear;
}

/*Estilo para contenedor de cajas */
.box__container{
    width:fit-content;
    border-top: 5px solid grey;
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    border-bottom: 5px solid grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.849);
    padding: 30px;
    margin: 10%;
}

/*Caja block*/
.box__top{
    color: white;
    font-size: 20px;
    display:block; 
    text-align: center;
    margin:10px;
    padding:30px 30px 30px 30px;
    width: min-content;
}

/*Caja inline block*/
.box__img{
    color: white;
    font-size: 20px;
    display: flex;
    display: inline-block; 
    text-align: center;
    margin:30px;
    padding:30px 30px 30px 30px;
}

.box__img img{
    text-align: center;
    width: 70%;
    
}

/*ME ENORGULLESE QUE EL SELLO DE GARANTIA ESTE EN DORADO Y SEA ESTILIZADO EN HTML POR QUE ES PARTE DE LA ESCENSIA DE LO QUE QUIERE VENDER LA PAGINA*/
.nft__img{
    size: 600px;
    transition: all 0.5s linear;
}

.nft__img:hover{
    transform: scale(1.25, 1.25);
    transition: all 0.5s linear;
}

/*Estilo del contenedor de videos*/
.videos__container{
    background-color: rgba(255, 255, 255, 0.852);
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    padding: 30px;
    margin: 10px;
    width:min-content;
}

/*Estilo para ficha de contacto*/
.ficha-contacto{
    width: fit-content;
    text-align: center;
    border-top: 5px solid grey;
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    border-bottom: 5px solid grey;
    padding: 30px;
    margin: 10px;
    background-image: radial-gradient(circle, red, red, black);
}

.ficha-contacto1 img{
    color: white;
    font-size: 20px;
    display:inline-flex; 
    text-align: center;
    width: fit-content;
    margin:10px;
    padding:30px 30px 30px 30px;
}

.ficha-contacto1 form{
    color: black;
    font-size: 20px;
    display: block; 
    text-align: center;
    margin:10px;
    padding:30px 30px 30px 30px;
}

/* editado para que siempre abarque lo que tenga de la pantalla a lo ancho*/
.ubicacion__container{
    background-color: white;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    border-left: 5px solid grey;
    border-right: 5px solid grey;;
    padding: 30px;
    margin: 10px;
    width: 100%;
}

button{
    border-radius: 12px;
    background-color: gold;
    margin: 5px;
    padding: 12px 25px;
    color: black;
    cursor: pointer;
    transition: all 0.5s linear;
}

button:hover{
    transform: translate(5px);
    background-color: darkred;
    transition: all 0.5s linear;
}

/*Estilo para el Footer*/
footer{
    background-color: orangered;
    width: 100%;
    margin: auto;
    font-size: 25px;
    padding: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

