html {
	height: 100%;
}
body {
	height: 100%;
    background-image: url(../images/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0%;
	padding: 0%;
}
main {
	width: 100%;
	align-items: center;
	display: block;
	flex-direction: column;
}