#ficha-contacto {
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    color: $goldenrod;
    border: 5px solid $grey;
    padding: 1.875em;
    margin: 2.5em;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.79), rgba(128, 128, 128, 0.79), rgba(0, 0, 0, 0.79));
}
.ubicacion__container {
    background-color: $white;
    width: 100%;
}
.paddingTB {
	padding-top: 50px;
	padding-bottom: 50px;
}
.paddingLR {
	padding-left: 10px;
	padding-right: 10px;
}
