#ficha-contacto {
    width: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: $goldenrod;
    border: 5px solid $grey;
    padding: 1.875em;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.79), rgba(128, 128, 128, 0.79), rgba(0, 0, 0, 0.79));    transition: all 0.5s linear;
    box-sizing: border-box;
    overflow: hidden;

}

.box__qr {
	color: $white;
	font-size: 20px;
	text-align: center;
	img {
		text-align: center;
		width: 350px;
	}
}

.ubicacion__container {
    background-color: $white;
    width: 100%;
}
.paddingTB {
	padding-top: 50px;
	padding-bottom: 50px;
}
.paddingLR {
	padding-left: 10px;
	padding-right: 10px;
}
